@model IEnumerable<Employee>
<div class="text-center">
    <h4>Employee Details</h4>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr class="text-center">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a class="btn-sm btn-primary" id="showLogs">Show Logs <i class="fa fa-search" aria-hidden="true"></i></a></td>
            </tr>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Department</th>
                <th scope="col">Email</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>@employee.Id</td>
                    <td>@employee.Name</td>
                    <td>@employee.Department</td>
                    <td>@employee.Email</td>
                    <td>
                        <a asp-controller="Home" asp-action="Details" asp-route-id="@employee.Id" class="btn-sm btn-primary">View <i class="fa fa-eye" aria-hidden="true"></i></a>

                        <a class="btn-sm btn-primary" id="editEmployeeButton" data-employee-id="@employee.Id">Edit <i class="fa fa-edit" aria-hidden="true"></i></a>

                        <a id="removeEmployeeButton" data-employee-id="@employee.Id" class="btn-sm btn-danger">Remove <i class="fa fa-remove" aria-hidden="true"></i></a>
                    </td>
                </tr>
            }
            <tr class="text-center">
                <td><a class="btn-sm btn-primary" id="addEmployeeButton">Add <i class="fa fa-plus" aria-hidden="true"></i></a></td>
            </tr>
        </tbody>
    </table>
    <div id="modalContainer">
        <div class="modal fade" id="showPartialViewModal" tabindex="-1" role="dialog" aria-labelledby="showPartialViewModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <!-- Modal content will be dynamically loaded here -->
                </div>
            </div>
        </div>

    </div>
   
</div>
@section Scripts {

    <script src="~/js/Home.js"></script>


}
